@font-face {
  font-family: 'Poppins';
  src: url('Poppins/normal/font.eot');
  src: url('Poppins/normal/font.woff2') format('woff2'),
       url('Poppins/normal/font.woff') format('woff'),
       url('Poppins/normal/font.ttf') format('truetype'),
       url('Poppins/normal/font.svg') format('svg'),
       url('Poppins/normal/font.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}